.sort__container__parent { grid-area: sort; }
.product-grid { grid-area: product; }
.filters-sidebar { grid-area: filters; }

.products-page {
  display: grid;
  grid-template-areas:
  'filters sort sort sort'
  'filters product product product'
  'filters product product product';
  flex-direction: row;
  gap: 20px;
  padding:  140px 20px 20px 20px;
}

.filters-sidebar {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 15px;
  overflow-y: auto;
  max-height: 90vh;
  position: sticky;
  top: 10px;
}

.filter-header__h3{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
}

.product-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.product-name_h4{
    margin: 10px;
}

.original-price{
    text-decoration: line-through;
    color: red;
}

/*.discounted-price{*/
/*    color: black;*/
/*}*/

.product__name {
  margin-top: 14px;
  padding: 10px;
}

.sort__container__parent{
    display: grid;
}
.sort-container {
    text-align: right;
    display: inline-flex;
    gap: 10px;
    background-color: white;
    padding: 15px 5px 15px 0;
    border-radius: 10px;
    align-items: center;
}
.sort-icon{
    width: 24px;
    padding-right: 10px;
}

#sort-container-newest, #sort-container-cheapest, #sort-container-expensive, #sort-container-name{
        transition: all 250ms;
}

#sort-container-newest:hover, #sort-container-cheapest:hover, #sort-container-expensive:hover, #sort-container-name:hover{
    text-shadow: var(--shadow__hover);
}