
.cart-detail-container{
    width: 80%;
    margin: 20px auto;
    background-color: var(--background__color);
    padding: 20px;
    box-shadow: var(--shadow__product);
    border-radius: 10px;
}

.product-item{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}

.product-item img{
    width: 110px;
}

.product-info{
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
    line-height: 1.8;
    color: #5c5c5c;
}
.product-info h3{
    font-weight: bold;
    color: black;
}
.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cart-header{
    background-color: var(--ligth-color);
    color: #fff;
    padding: 120px 10px 10px;
    text-align: center;
}

.quantity-add, .quantity-decrease, .quantity-remove{
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;
    background-color: var(--button__color);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(205, 205, 205, 1);
    transition: all 0.3s ease;
}
.quantity-add:hover, .quantity-decrease:hover, .quantity-remove:hover{
    background-color: #cacaca;
    transform: scale(1.2);
}
.quantity-add:active, .quantity-decrease:active, .quantity-remove:active{
    background-color: #707070;
    transform: scale(0.9);
}

.total-price{
    font-weight: bold;
    margin-top: 20px;
    padding-right: 10px;
    line-height: 1.8;
}

.checkout-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.continue-btn, .back-btn{
    padding: 10px;
    cursor: pointer;
    background-color: var(--button__color);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.continue-btn:hover, .back-btn:hover{
    background-color: #cacaca;
    transform: scale(1.2);
}
.continue-btn:active, .back-btn:active{
    background-color: #707070;
    transform: scale(0.9);
}