.sort__container__parent { grid-area: sort; }
.product-grid { grid-area: product; }
.filters-sidebar { grid-area: filters; }

.products-page {
  display: grid;
  grid-template-areas:
  'filters sort sort sort'
  'filters product product product'
  'filters product product product';
  flex-direction: row;
  gap: 20px;
  padding:  0 20px 20px 20px;
    margin-top: 10px;
}

.filters-sidebar {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 15px;
  overflow-y: auto;
  max-height: 90vh;
  position: sticky;
  top: 130px;
}

.filter-header__h3{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
}

.product-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
    color: black;

}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.product-name_h4{
    margin: 10px;
}

.old-price{
    text-decoration: line-through;
    color: red;
}

.discounted-price{
    color: black;
}

.product__name {
  margin-top: 14px;
  padding: 10px;
}

.sort__container__parent{
    display: grid;
}
.sort-container {
    text-align: right;
    display: inline-flex;
    gap: 10px;
    background-color: white;
    padding: 15px 5px 15px 0;
    border-radius: 10px;
    align-items: center;
}
.sort-icon{
    width: 24px;
    padding-right: 10px;
}

#sort-container-newest, #sort-container-cheapest, #sort-container-expensive, #sort-container-name{
        transition: all 250ms;
}

#sort-container-newest:hover, #sort-container-cheapest:hover, #sort-container-expensive:hover, #sort-container-name:hover{
    text-shadow: var(--shadow__hover);
}

.list-img{
    width: 100%;
}

.list-name{
    text-decoration: none;
    color: #575757;
}

.filter-content{
    display: grid;
    gap: 3px;
}

.filter-label{

}

.filter-input{

}

/*===========================================*/
/*-------------------------------------------*/
/*===========================================*/
.product-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

/* باکس نگهدارنده دایره‌های رنگی */
.product-colors-badge {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.6);
    padding: 4px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

/* خود دایره‌های رنگی */
.color-dot__list {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* علامت مثبت اگر رنگ‌ها زیاد بود */
.color-plus__list {
    font-size: 10px;
    color: #333;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
}



