{% load custom_filters %}

{% for product in products %}
    <div class="product-card">

    <div class="product-item ... relative group">
        <button onclick="toggleFavorite('{{ product.id }}', this)"
            class="absolute top-3 left-3 p-2 rounded-full bg-white/50 hover:bg-white shadow-sm transition-all duration-200 z-10 group/heart">

            {% is_favorited product request.user as favorited %}

            <svg xmlns="http://www.w3.org/2000/svg"
                 class="w-6 h-6 transition-colors duration-300 {% if favorited %}text-red-500 fill-red-500{% else %}text-gray-400 hover:text-red-400{% endif %}"
                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </button>
    </div>

        <div class="product-image-container">
            <a href="{{ product.get_absolute_url }}">
                {% if product.images.first %}
                    <img class="list-img" src="{{ product.images.first.file.url }}" alt="{{ product.name }}">
                {% endif %}
            </a>

            {% if product.colors.exists %}
            <div class="product-colors-badge">
                {% for color in product.colors.all|slice:":4" %} <span class="color-dot__list"
                          style="background-color: {{ '#' |add:color.hex_code }};"
                          title="{{ color.name }}">
                    </span>
                {% endfor %}
                {% if product.colors.count > 4 %}
                    <span class="color-plus__list">+</span>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <a href="{{ product.get_absolute_url }}">
            <h4 class="list-name">{{ product.name|fa_number }}</h4>
        </a>
        <div class="price-section">
             {% if product.off > 0 %}
                <div class="old-price">{{ product.price | money_format }} تومان</div>
             {% endif %}
            <p class="discounted-price">{{ product.new_price | money_format }} تومان</p>
        </div>
    </div>
{% empty %}
    <p class="no-result">هیچ محصولی مطابق فیلترها یافت نشد.</p>
{% endfor %}