:root{
    --shadow__hover: 0 0 10px rgb(61, 168, 203);
    --shadow__product: 0 0 10px rgba(0,0,0,0.1);
    --background__color: #fff;
    --button__color: #eee;
    --button__color__hover: #cacaca;
    --ligth-color: #486a75;
    --dark-color: #3d575f;
    --bg_color: #92b1bb
}

*{
    margin: 0;
}
body{
    font-family: 'Shabnam', sans-serif;
    background-color: var(--bg_color);
    font-size: 13px;
}


a:link, a:visited{
    text-decoration: none;
}



.cart-info{
    color: #ffffff;
}
